*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
h1{
  text-align: center;
  font-family: cursive;
  font-size: 50px;
  color: darkslategrey;
  margin-top: 9px;
}
img{
  width: 500px;
  height: 500px;
  /* border: 1px solid black; */
}
.conteiner{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contenitore{
  margin-top: -203px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frecce{
  margin: 0 30px;
  font-size: 40px;
}
.frecce:hover , .dot > nav i:hover{
  cursor: pointer;
}
.dot{
  position: relative;
}
nav{
  position: absolute;
  top: 271px;
  display: flex;
  left: -478px;
}

nav i{
  color: grey;
  display: flex;
  margin: 0 10px;

}
.active{
  color: blue;
}
